//
//
// UNIVERSAL VARIABLES
//
//

$pj-green: #85924b !default;
$pj-blue: #67ad96 !default;
$pj-yellow: #da8f45 !default;
$pj-red: #d1523a !default;

$pj-tan: #f8d99c !default;
$pj-brown: #30271f !default;


//
//
// IMPORTS
//
//

@import "fonts";
@import "bootstrap-custom-variables";
@import "bootstrap-sprockets";
@import "bootstrap";

//
//
// TEXT
//
//

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-family: $font-family-serif;
}

.lead-header {
    margin-top: 0;
}

a {
    outline: none !important;
}

.plain-link {
    color: $pj-brown;
    text-decoration: underline;

    &:hover {
        color: lighten($pj-brown, 30%);
    }

    &:active, &:focus {
        color: $pj-yellow;
    }
}

.highlighted-text {
    color: $pj-yellow;
}

.glyphicon {
    top: 2px;
}

//
//
// CONTAINERS
//
//

body {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: image_url("grain.png");
}

hr {
    border-color: $pj-brown;
    border-style: dotted;
}

.btn {
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

    font-family: $font-family-sans-serif;
    font-size: 12px;

    outline: none !important;

    &:hover {
        color: lighten($pj-brown, 30%);
    }

    &:active {
        -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

        color: $pj-yellow !important;
    }

    &:focus {
        color: $pj-yellow;
    }

    &.btn-default {
        &:hover, &:focus {
            background: $pj-tan !important;
        }
    }
}

ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-padding-start: 15px;
}

.progress {
    background-color: rgba(48,39,31, 0.25);
    height: 30px;
    margin-bottom: 15px;
}

.progress-bar {
    color: $pj-tan;
    font-weight: bold;
    background-color: $pj-brown;
    text-align: left;
    padding-left: 15px;
    line-height: 30px;
}

.panel.panel-default {
    border-color: $pj-brown !important;
    border: 1px dotted;
    background: none !important;
    margin-bottom: 0;
}

.img-responsive {
    margin-bottom: 3px;

    &:last-child {
        margin-bottom: 0;
    }
}

.floating-container {
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

//
//
// NAVIGATION
//
//

.navbar {
    background-image: image_url("grain.png");
    font-family: $font-family-sans-serif;

    border-bottom: 5px solid;
    border-image: linear-gradient(to right, $pj-yellow 25%, $pj-blue 25%, $pj-blue 50%, $pj-red 50%, $pj-red 75%, $pj-green 75%) 1;

    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

    .container {
        border-bottom: none;
    }

    .nav.navbar-nav li a{
        -webkit-transition: 0.1s ease-out;
        -moz-transition: 0.1s ease-out;
        transition: 0.1s ease-out;

        font-size: 16px;

        &:active {
            -webkit-box-shadow: inset 0px 5px 15px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 0px 5px 15px rgba(0,0,0,0.25);
            box-shadow: inset 0px 5px 15px rgba(0,0,0,0.25);

            color: $pj-yellow;
        }
        &:focus {
            color: $pj-yellow;
        }
    }

    .navbar-toggle {
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;

        .icon-bar {
            -webkit-transition: background 0.1s ease-out;
            -moz-transition: background 0.1s ease-out;
            transition: 0.1s ease-in-out;

            position: relative;
            width: 24px;
            height: 3px;
        }
        .icon-bar:last-child {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: -7px;
        }
        .icon-bar:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 7px;
        }
        .icon-bar:nth-child(3) {
            opacity: 0;
        }
        &.collapsed {
            .icon-bar {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);        
                top: 0;
                opacity: 1;
            }
        }
    }
}

//
//
// INDEX PAGES
//
//

.root-link {
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out;

    color: $pj-tan;

    &:hover {
        color: lighten($pj-tan, 10%);
    }

    &:active {
        -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

        color: $pj-yellow;
    }

    &:focus {
        color: $pj-yellow;
    }
}

.thumbnail {
    position: relative;
    padding: 0;
    border-radius: 0;
    border: none;
}

.thumbnail-caption {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    padding-left: 15px;

    background-color: rgba(48, 39, 31, 0.75);
}

//
//
// MODAL
//
//

.modal-lead-text {
    margin-top:0;
}

.modal-header {
    border-bottom: 1px dotted;
}

.modal-footer {
    border-top: 1px dotted;
}

.modal-header, .modal-footer {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}

.modal-dialog {
    .close {
        opacity: 0.5;
        outline: none;
    }

    img {
        -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
    }
}

.modal-content {
    border: none;
    border-radius: 0;
}

//
//
// MISCELLANEOUS
//
//

::-moz-selection { /* Code for Firefox */
    color: $pj-tan;
    background: $pj-brown;
}

::selection {
    color: $pj-tan;
    background: $pj-brown;
}

.noise-overlay {
    width: 100%;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    background: image_url("noise.gif") repeat;
    opacity: 0;

    -moz-transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    &:hover {
        opacity: 0.125;
    }
    &:active {
        -moz-transition: opacity 0.2s ease-out;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;

        opacity: 0.175;
    }
}

//
//
// MEDIA QUERIES
//
//

@media (max-width: $screen-sm - 0.5) {
    .navbar-collapse {
        background-image: image_url("grain.png");
        background-color: darken($pj-tan, 5%);

        -webkit-box-shadow: inset 0px 5px 10px rgba(0,0,0,0.25);
        -moz-box-shadow: inset 0px 5px 10px rgba(0,0,0,0.25);
        box-shadow: inset 0px 5px 10px rgba(0,0,0,0.25);

        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@media (max-width: $screen-xs - 0.5) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 14px;
    }
}

//
//
//TYPED
//
//

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
          animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}

.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
          animation: 0;
}
