---
title: Patrick Jackman - About
---

<h1>
  About
</h1>
<hr/>

<img alt="PJ" src="<%= image_path("headshot.png")%>" style="height: 100px;">

<p>
  I’m equal parts tech geek and art enthusiast, and I like making things <span class="highlight-text">more enjoyable</span> for people. 

  Those ‘things’ often revolve around interface design and product development, with a strong emphasis on user experience. Any time I’m able to blend art and technology, I feel right at home. 

  So, what are my strengths then?
</p>