---
title: Design - Patrick Jackman
---
<div id="typed-strings">
  <p>interfaces</p>
  <p>marketing</p>
  <p>designs</p>
  <p>creative projects</p>
</div>
<h1 class="lead-header">I help make <br/><span id="typed" class="highlighted-text"></span><br/> more enjoyable.</h1>

<hr/>

<h4>
  Whether it's managing operations or chipping in on the front lines, I'm happy to help.
</h4>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="/design/about.html" class="thumbnail root-link">
      <img src="<%= image_path('personal/personal_preview.jpg')%>" alt="personalPreview">
      <div class="thumbnail-caption">
          <h2>About</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="/design/work.html" class="thumbnail root-link">
      <img src="<%= image_path('art/skull_preview.jpg')%>" alt="artPreview">
      <div class="thumbnail-caption">
          <h2>Work</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="/design/contact.html" class="thumbnail root-link">
      <img src="<%= image_path('art/face_preview.jpg')%>" alt="contactPreview">
      <div class="thumbnail-caption">
          <h2>Contact</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
</div>