@import "bourbon/bourbon";
@import "neat/neat";

//vars
$blue-color: #3a82a6;
$green-color: #43b32d;
$orange-color: #e67339;
$purple-color: #8c4c99;
$white-color: #FFFFFF;

$nav-color: #182329;
$nav-border-color: #242e33;
$nav-dark-hover-color: #2d3940;
$nav-img-color: #12171a;
$nav-light-hover-color: #285a73;

$nav-opacity: 0.8;
$nav-border-thickness: 2px;

$font-stack: Segoe UI, sans-serif;

//mixins
@mixin background-opacity($color, $opacity: 1) {
    background: $color;
    background: rgba($color, $opacity);
}

//core scss
html { 
  background: url(../img/proto_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: $white-color;
	font: lighter 1em $font-stack;
	min-width: 700px;
}

nav {
	@include background-opacity($nav-color, $nav-opacity);
	@include position(fixed, 0px null null 0px);
	@include size(100% (75px + $nav-border-thickness));

	border-bottom: $nav-border-thickness solid $blue-color;
	min-width: 40em;
	z-index: 1000;

	ul {
		@include margin(0 5em 0 5em);

		padding: 0px;
	
		li {
			@include size(15% 75px);
			
			float: left;
			border-right: 1px solid $nav-border-color;
			line-height: 75px;
			min-width: 8em;
			text-align: center;

			.nav-a {
				@include size(100% 75px);
				@include transition-property(background);
				@include transition-duration(1s);

				color: $white-color;
				display: inline-block;
				outline: none;
				text-decoration: none;
				text-align: center;
				font-size: 1.2em;

				#nav-img { 
					@include size(65px 75px);
					@include padding(5px 0px 5px 0px);			
				}
			}

			.nav-a:hover {
				@include transition-property(background);
				@include transition-duration(0.25s);

				background: $nav-light-hover-color;
				font-size: 1.225em;
			}
			.nav-a:active {
				background: $orange-color;
			}

			#nav-img-a:hover {
				background: $nav-dark-hover-color;
			}
			#nav-img-a:active {
				background: #3e5059;
			}
		}
		li:first-child {
			background: $nav-img-color;
			border-left: 1px solid $nav-border-color;
			min-width: 6em;
			width: 10%;
		}
	}
}

.appear {
	@include transition-property(opacity);
	@include transition-duration(3.0s);
	@include transition-timing-function(ease-in);
	@include transition-delay(0s);
	
	opacity: 0;
}

.delay-one {
	@include transition-delay(1.5s);
}

.delay-two {
	@include transition-delay(3s);
}

.content-wrapper {
	@include padding(100px 5em null 5em);
	@include size(100% 100%);

	min-width: 700px;

	h1 {
		font: lighter 5em $font-stack;
		margin:0px;
	}

	h3 {
		@include margin(0.4em 0px 0.4em 0px);

		font: lighter 1.5em $font-stack;
	}

	.color-span {
		color: $orange-color;
	}

	.content-inner{
		@include padding(0px 5em 0px 5em);
	}
}

#home-wrapper {
	@include background-opacity($nav-img-color, 0.25);

	.h1-resize {
		line-height: 100%;
	}

	#btm-div {
		@include margin(7em null 2em null);

		h3 {
			@include margin(0px 1em 0px 0px);
			display: inline-block;
		}

		#home-img {
			@include size(40px 40px);

			display: inline-block;
		}
	}
}

#about-wrapper {
}

#work-wrapper {
	@include background-opacity($nav-img-color, 0.2);
}

#contact-wrapper {
	@include padding(null 0px 0px 0px);
	position: relative;
}

footer {
	@include background-opacity($nav-color, $nav-opacity);
	@include padding(0 5em 0 0);
	@include position(absolute, null null 0px null);
	@include size(100% 2em);

	p{
		color: $nav-dark-hover-color;
		float: right;
		font-weight: normal;
		line-height: 2em;
		margin: 0px;
	}
}