---
title: Home - Patrick Jackman
---

<div id="typed-strings">
    <h4 class="lead-header">Howdy! What brings you here?</h4>
</div>
<h4 class="lead-header"><span id="typed"></span></h4>

<div class="row">
  <div class="col-sm-6">
    <a href="/design" class="thumbnail root-link">
      <img src="<%= image_path('art/art_preview.jpg')%>" alt="artPreview">
      <div class="thumbnail-caption">
          <h2>UX / Design</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="/music" class="thumbnail root-link" style="margin-bottom: 0;">
      <img src="<%= image_path('music/cassette_tapes.jpg')%>" alt="musicPreview">
      <div class="thumbnail-caption">
          <h2>Music</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
</div>