---
title: Music - Patrick Jackman
---

<div id="typed-strings">
  <p>recording new songs.</p>
  <p>playing around town.</p>
  <p>sprucing up my site.</p>
</div>
<h1 class="lead-header">Whoops, I'm currently<br/><span id="typed" class="highlighted-text"></span></h1>

<h4 style="margin-top: 20px;">If you check back closer to October, there should be a bunch of new stuff here!<br/><br/>Hope to see you soon!</h4>

<a class="plain-link" href="/">< Back to site directory</a>